openapi: 3.0.3
info:
  title: URL Shortener API
  description: |
    A RESTful API for creating and managing shortened URLs.

    ## Authentication
    Some endpoints require authentication via Bearer token. Include your API token in the Authorization header:
    ```
    Authorization: Bearer your-api-token
    ```

    You can also pass the token as a query parameter: `?api_token=your-api-token`

    To get an API token, log in to the web interface and go to API Settings.

  version: 1.0.0
  contact:
    name: API Support
servers:
  - url: https://chiba.tw/api/v1
    description: Production server
  - url: http://localhost:8080/api/v1
    description: Local development

tags:
  - name: URLs
    description: URL shortening operations
  - name: User
    description: User information

paths:
  /urls:
    post:
      tags:
        - URLs
      summary: Create a short URL
      description: Create a new shortened URL. Authentication is optional.
      operationId: createUrl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - url
              properties:
                url:
                  type: string
                  format: uri
                  maxLength: 2048
                  description: The original URL to shorten
                  example: https://example.com/very-long-path/to/resource
                title:
                  type: string
                  maxLength: 200
                  description: Custom title for the URL (optional)
                  example: My Example Page
                description:
                  type: string
                  maxLength: 500
                  description: Custom description for Open Graph (optional)
                  example: This is an example page description
                custom_code:
                  type: string
                  pattern: '^[a-zA-Z0-9]+$'
                  minLength: 4
                  maxLength: 20
                  description: Custom short code (optional, alphanumeric only)
                  example: mylink
      responses:
        '201':
          description: URL created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlCreatedResponse'
        '409':
          description: Custom code already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '500':
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      tags:
        - URLs
      summary: List user's URLs
      description: Get a paginated list of URLs created by the authenticated user.
      operationId: listUrls
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - name: keyword
          in: query
          description: Search keyword to filter URLs
          schema:
            type: string
        - name: page
          in: query
          description: Page number for pagination
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: List of URLs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlListResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /urls/{code}:
    get:
      tags:
        - URLs
      summary: Get URL info
      description: Retrieve information about a shortened URL.
      operationId: getUrl
      parameters:
        - name: code
          in: path
          required: true
          description: The short URL code
          schema:
            type: string
          example: abc123
      responses:
        '200':
          description: URL information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlInfoResponse'
        '404':
          description: URL not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - URLs
      summary: Delete a URL
      description: Delete a shortened URL. Only the owner can delete their URLs.
      operationId: deleteUrl
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - name: code
          in: path
          required: true
          description: The short URL code
          schema:
            type: string
          example: abc123
      responses:
        '200':
          description: URL deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: URL deleted successfully
        '404':
          description: URL not found or unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /urls/{code}/analytics:
    get:
      tags:
        - URLs
      summary: Get URL analytics
      description: Retrieve click analytics for a shortened URL.
      operationId: getUrlAnalytics
      parameters:
        - name: code
          in: path
          required: true
          description: The short URL code
          schema:
            type: string
          example: abc123
      responses:
        '200':
          description: Analytics data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsResponse'
        '404':
          description: URL not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /user:
    get:
      tags:
        - User
      summary: Get current user info
      description: Retrieve information about the authenticated user.
      operationId: getCurrentUser
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      responses:
        '200':
          description: User information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API token from user settings
    ApiKeyAuth:
      type: apiKey
      in: query
      name: api_token
      description: API token as query parameter

  schemas:
    UrlCreatedResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            code:
              type: string
              example: abc123
            short_url:
              type: string
              format: uri
              example: https://chiba.tw/abc123
            original_url:
              type: string
              format: uri
              example: https://example.com/very-long-path
            title:
              type: string
              example: Example Page
            created_at:
              type: string
              format: date-time
              example: '2026-01-14T12:00:00.000000Z'

    UrlInfoResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            code:
              type: string
              example: abc123
            short_url:
              type: string
              format: uri
              example: https://chiba.tw/abc123
            original_url:
              type: string
              format: uri
              example: https://example.com/very-long-path
            title:
              type: string
              example: Example Page
            description:
              type: string
              example: This is an example page
            image:
              type: string
              format: uri
              example: https://example.com/image.jpg
            clicks:
              type: integer
              example: 42
            created_at:
              type: string
              format: date-time
              example: '2026-01-14T12:00:00.000000Z'

    UrlListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                example: abc123
              short_url:
                type: string
                format: uri
                example: https://chiba.tw/abc123
              original_url:
                type: string
                format: uri
                example: https://example.com/path
              title:
                type: string
                example: Example Page
              clicks:
                type: integer
                example: 42
              created_at:
                type: string
                format: date-time
        pagination:
          type: object
          properties:
            current_page:
              type: integer
              example: 1
            last_page:
              type: integer
              example: 5
            per_page:
              type: integer
              example: 10
            total:
              type: integer
              example: 50

    AnalyticsResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            code:
              type: string
              example: abc123
            total_clicks:
              type: integer
              example: 42
            referrals:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    example: Facebook
                  count:
                    type: integer
                    example: 15
            operating_systems:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    example: Windows
                  count:
                    type: integer
                    example: 20

    UserResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            id:
              type: integer
              example: 1
            name:
              type: string
              example: John Doe
            email:
              type: string
              format: email
              example: john@example.com

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: Error message

    ValidationErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            url:
              - The url field is required.
              - The url must be a valid URL.
