/node_modules
/public/hot
/public/storage
/public/image/url/*
/public/image/
/public/.well-known/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Sensitive files
SERVER_INFO.md
*.key
*.pem
public/info.php
